@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    height: 100vh;
    overflow: hidden;
    background-color: #030336;
    /* background-color: #43435a; */
}

#gameContainer {
    position: relative;
    width: 800px;
    height: 600px;
    overflow: hidden;
    background-color: #181865;
}

/* sidebar */
#sidebar {
    width: 200px;
    height: 600px;
    background-color: #020225;

    /* background: linear-gradient(135deg, #1e1e2f, #2a2a40); */
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    border-left: 2px solid #444;
}

#sidebar h2 {
    margin: 0 0 20px 0;
    font-size: 24px;
}

#sidebar h3 {
    padding-top: 30px;
}

/* sprites */
.sprite {
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url("/images/spritesheet-x2.png");
    background-size: cover;
    will-change: transform;
}

.greenAlien {background-position: 0px 0px;}
.ufo {background-position: -40px 0px;}
.asteroid1 {background-position: -80px 0px;}
.asteroid2 {background-position: -120px 0px;}
.asteroid3 {background-position: -160px 0px}
.asteroid4{background-position: -200px 0px}
.jet1 {background-position: -240px 0px}
.explosion {position:absolute; background-position: -280px 0px;  opacity: 0.8; animation: explode 0.5s ease-out;}
.jet2 {background-position: -320px 0px;}
.rocket1 {background-position: -360px 0px;}
.rocket2 {background-position: -400px 0px;}


.bullet {
    position: absolute; 
    width: 5px;
    height: 10px;
    will-change: transform;
}

#gameOver, #pauseMenu {
    display: none;
    position: absolute;
    transform: translate(0, 0);
    background-color: #020225d7;
    color: #fff;
    padding: 20px;
    text-align: center;
    border: 2px solid #444;
    border-radius: 10px;
}

.start-menu {
    display: block;
    position: absolute;
    transform: translate(0%, 0%);
    background-color: #020225d7;
    color: #fff;
    padding: 20px;
    text-align: center;
    border: 2px solid #444;
    border-radius: 10px;
}

#pauseMenu button, .start-menu button {
    margin: 10px;
    padding: 10px 20px;
    font-family: 'Orbitron';
    font-size: 16px;
    cursor: pointer;
    background-color: #0b9812d4;
    color: #fff;
    border: none;
    border-radius: 5px;
  }

  #pauseMenu button:hover {
    background: linear-gradient(135deg, #666, #888);
  }

  @keyframes explode {
    0% {
      transform: scale(0);
      opacity: 1;
    }

    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
